html, body{
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.plansza{
  width: 100%;
  height: 100%;
  background-image: url("../images/swamp_by_maxdinamo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.zombie {
  position: absolute;
  bottom: 50px;
  left:100%;
  width: 200px;
  height: 312px;
  cursor: crosshair;
  background: url('../images/walkingdead.png') no-repeat 0 -3px;
  animation: zombieMove 0.9s steps(10) infinite, zombieWalk 10s 1 linear;
}
.score{
  height: 200px;
  width: 400px;
  font-size: 120px;
  color: darkred;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes zombieMove {
  100% { background-position:-2000px;}
}
@keyframes zombieWalk {
  100% { left: -300px;}
}
